@font-face {
  font-family: "Yanone Kaffeesatz";
  font-style: normal;
  font-weight: 200;
  src: local("Yanone Kaffeesatz ExtraLight"), local("YanoneKaffeesatz-ExtraLight"), url("https://fonts.gstatic.com/s/yanonekaffeesatz/v8/We_iSDqttE3etzfdfhuPRQqftcMOL_w0yR9WY4zwDNA.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body {
  background: #eeeeee;
}

.post {
	margin_botom: 10px;
    
}
.title {
  //background: #eeeeee;
}